@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,800&family=Rubik:ital,wght@0,300;0,400;0,800;1,300;1,400;1,800&display=swap');

*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{    
    font-family: Rubik;
    height: 100vh;
}

main{
    background-color: cadetblue;
    padding: 35px 200px 0px 80px;
}

.titleMain{
    font-family: Montserrat;
    font-weight: 800;
    font-size: 30pt;        
    color: white;    
}

.subTitleMain{
    font-family: Rubik;    
    font-size: 20pt;        
    color: azure;
    padding-right: 220px;
}

.ctaMain{
    background-color: tomato;
    padding: 25px;
    border: none;
    border-radius: 4px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12pt;
    color: #f9f9f9;
    margin-top: 40px; 
    width: 450px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

h2{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15pt;
}

h3{
    font-family: Montserrat;
    font-size: 10pt;
    text-transform: uppercase;
    color: #464646;
}

.txtLight{        
    font-family: Rubik;
    font-size: 10pt;
    font-weight: lighter;    
    color: #464646;         
    padding: 15px;   
}

.tomato{
    color: tomato;
}
.blueBubbly{
    color: #205fff
}

.rowTopoSite{    
    display: flex;    
    background-color: #f9f9f9;    
    height: 11vh;    
}

.imgLogo{            
    position: absolute;
    top: 20px;
    left: 100px;
    margin: -50;
}
nav{
    position: absolute;
    top: 8px;
    left: 400px;
    margin: -50;
}

.BEC{    
    display: flex;
    position: absolute;
    top: 28px;
    left: 1200px;
    margin: -50;
}

.espaco40px{
    padding-right: 40px;
}

.txtBusca{
    background-color: #f9f9f9;
    padding: 12px;
    border: 1px solid tomato;
    border-radius: 4px;
    font-family: Rubik;
    font-size: 15px;
    color: tomato;
    float:left;
    width: 300px;
}
#lupa{
    float:left;
    margin:10px 0px 0px -25px;
    cursor:pointer;    
}
#lupa:after{
    font-family:FontAwesome;
    font-size:12px;
    content:"\f002";
    color: tomato;
}

.btCadastro{
    background-color: tomato;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-family: Rubik;
    color: #f9f9f9;    
}

.btEntrar{
    background-color: white;
    padding: 10px;
    border: 1px solid tomato;
    border-radius: 4px;
    font-family: Rubik;
    color: tomato;
    margin-right: 20px;
}

.rowMain{    
    position: relative;        
    background-image: url("../img/bkgs/bkg-1.jpg");    
    background-repeat: no-repeat;
    height: 80vh;
}

main{
    position: absolute;
    background-color: transparent;
    width: calc(100% - 600px);
    transform: translateX(100px);    
    top: 60px;
}

.carousel {    
    width: 1200px;
    margin: 20px auto;
    padding-top: 20px;    
  }

.rowCarousel{
    background-color: #f9f9f9;
    padding: 60px 20px 40px 20px;
    height: 70vh;
}  

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 50px;line-height: 1;
    opacity: 1;
    color: tomato;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
    left: -55px;
}
.slick-next {
    right: -28px;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 16px;
    padding-top: 18px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.titCarousel{
    font-family: Montserrat;
    font-weight: 800;
    font-size: 30pt;        
    color: tomato;    
    text-transform: uppercase;    
    text-align: center;
}

.subTitCarousel{
    font-family: Rubik;    
    font-weight: lighter;
    font-size: 16pt;        
    color: gray;
    text-align: center;
    padding-top: 10px;
}

.cursoDestaque{
    width: 200px;
    height: 250px;    
    border: 1px solid gray;
    
}

.box_carousel{    
    width: 250px;
    height: 380px;
    text-align: left;
    border: tomato 1px solid;         
    border-right: tomato 25px solid;    
    border-top: none;
    border-left: 1px dotted tomato;
}
.img-stars{                   
    float: right; 
    width: 60px;
    padding: 16px 120px 10px 10px;
}

.nome-curso{            
    float: left;
    font-weight: bolder;
    font-size: 20px;    
    border-bottom: tomato 1px dotted;
    margin: 15px;        
}

.cidade-avaliador{
    display: block;
    float: inline-start;
    text-align: left;
    font-style: italic;    
    padding: 10px 0px 15px 0px;
}

.descr-avaliacao{
    display: block;
    text-align: justify;    
    font-style: oblique;
    padding: 2px 0px 15px 0px;
}

.ctaCurso{        
    font-family: Rubik;    
    background-color: tomato;
    padding: 14px;
    border: none;
    border-radius: 4px;    
    font-size: 10pt;
    color: #f9f9f9;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin: auto;    
}

.clear{
    clear: both;
}

.nomeProf{
    padding: 15px;    
}