/* -------------- FONTES -------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,800&family=Rubik:ital,wght@0,300;0,400;0,800;1,300;1,400;1,800&display=swap');

/* -------------- BODY -------------- */

body{    
    font-family: Rubik;        
    min-height: 100vh;
    max-width: 100%;
    margin: 0 auto;    
}

.rowMain{        
    background-image: url("../img/bkgs/bkg-1.jpg");    
    background-position: right top;
    background-repeat: no-repeat;
    height: 80vh;
    padding-top: 80px;
}

.titleMain{        
    display: block;    
    text-align: center;
    font-family: Montserrat;        
    font-size: calc(12px + 1vw);
    color: #f9f9f9;        
    margin-top: 130px;    
    margin-left: 8%;
    margin-right: 8%;
}

.subTitleMain{
    display: block;
    font-family: Rubik;       
    font-size: calc(10px + 0.6vw); 
    color: #f9f9f9;   
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.ctaMain{        
    font-family: Rubik;       
    font-size: calc(10px + 0.15vw); 
    color: #f9f9f9;       
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 40px; 
    margin: 6px;
    padding: 15px;        
    border: none;
    border-radius: 4px;        
    background-color: tomato;
    color: #f9f9f9;    
    
}

.buttonsMain{
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.arrowDown{
    display: block;
    text-align: center;
    color: #f9f9f9;    
    padding-top: 200px;
}

.arrowDownpgAfiliacao{
    display: block;
    text-align: center;
    color: #f9f9f9;    
    padding-top: 100px;
}

.arrowDownpgCursos{
    display: block;
    text-align: center;
    color: #f9f9f9;    
    padding-top: 30px;
}

h2{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15pt;
}

h3{
    font-family: Montserrat;
    font-size: 10pt;
    text-transform: uppercase;
    color: #464646;
}

.txtLight{        
    font-family: Rubik;
    font-size: 10pt;
    font-weight: lighter;    
    color: #464646;         
    padding-left: 15px;    
    padding-bottom: 20px;
}

.tomato{
    font-family: Rubik;
    color: tomato;
    text-decoration: none;
}

.rowTopoSite{    
    position: fixed;
    display: flex;    
    /* justify-content: space-between; */
    justify-content: space-evenly;
    background-color: #f9f9f9;    
    height: auto;
    width: 100%;
    z-index: 1;
}

.imgLogo{                
    width: 100px;
    margin: 18px;
}

.BEC{            
    display: inline-flex;    
    margin-right: 10px;
    margin-top: 12px;
}
@media screen and (max-width: 860px) {
    .BEC {
      display: none;
    }
  }

.subTitleMainCursos{
    font-family: Rubik;    
    font-size: 20pt;        
    color: azure;
    margin-bottom: 26px;
}

.navCategorias{
    padding-top: 16px;
}

.btnsCategoriaCursos{
    display: inline;
    background-color: #f9f9f9;
    padding: 10px;    
    border: none;
    border-radius: 4px;
    font-family: Rubik;    
    text-align: center;
    font-size: 10pt;
    transition: 200ms all;   
}

.espaco40px{
    padding-right: 40px;
}

.txtBusca{
    background-color: #f9f9f9;
    padding: 11px 20px 12px 10px;
    border: 1px solid tomato;
    border-radius: 4px;
    font-family: Rubik;
    font-size: 0.8em;
    color: tomato;        
    margin-right: 20px;
    border-right: 30px solid tomato;
    width: auto;
}
#lupa{    
    margin: -30px 0px 0px 189px;
    cursor:pointer;    
}
#lupa:after{
    font-family:FontAwesome;
    font-size:12px;
    content:"\f002";
    color: #f9f9f9;
}

.txtBuscaMainCursos{      
    background-color: #f9f9f9;
    padding: 11px 20px 12px 10px;
    border: 1px solid tomato;
    border-radius: 4px;
    font-family: Rubik;
    font-size: 0.8em;
    color: tomato;                
    width: 30%;
    margin-right: 10px;    
}

.btLupa{        
    background-color: tomato;
    padding: 11px;
    border: 1px solid tomato;
    border-radius: 4px;        
    color: #f9f9f9;
    text-align: center;        
    width: 20px;    
    text-align: center;
    cursor: pointer;
}

.btCadastro{
    background-color: #f9f9f9;
    padding: 12px;
    border: 1px solid tomato;
    border-radius: 4px;
    border-right: 10px solid tomato;
    font-family: Rubik;
    color: tomato;
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
    height: 18px;
    width: 110px;
    margin-right: 15px;
    cursor: pointer;
}

.btBuscar{
    background-color: tomato;
    padding: 12px;
    margin: 39px 10px 10px 10px;
    width: 120px;
    border: none;
    border-radius: 4px;
    font-family: Rubik;
    font-weight: 400;
    text-transform: uppercase;
    color: #f9f9f9;    
    cursor: pointer;
}

.buscarMainCursos{
    display: flex;
    justify-content: center;
    width: 100%;
}

.btDivulgarCurso{
    background-color: tomato;
    padding: 15px;
    margin: 39px 10px 10px 10px;
    width: 220px;
    border: none;
    border-radius: 4px;
    font-family: Rubik;
    font-weight: 400;
    text-transform: uppercase;
    color: #f9f9f9;    
    cursor: pointer;
}

.btEntrar{    
    background-color: white;
    padding: 10px;
    height: 18px;
    width: 70px;
    margin-right: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    font-family: Rubik;
    color: gray;
    text-align: center;
    font-size: 0.8em;
    border-right: 10px solid gray;
    cursor: pointer;
}


.rowQuemSomos{
    position: relative;        
    background-color: #f9f9f9;
    height: 95vh;
    padding-top: 50px;
    border-top: 1px solid gainsboro;
}

.boxQuemSomos{
    position: relative;
    display: inline-block;
    width: 60%;
    height: 302px;
    border: tomato 1px dotted;    
    border-left: 20px solid tomato;
    border-radius: 0px 30px 30px 0px;
    margin: 40px;
    transform: translate(25%);
    transition: 200ms all;    
}

.nomeAutor{
    position: absolute;
    vertical-align: top;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 40pt;
    padding-left: 20px;    
    text-transform: uppercase;
    color: tomato;    
    top: 10px;
    left: 200px;
    border-bottom: 4px solid tomato;
}

.descrAutor{
    position: absolute;
    vertical-align: baseline;
    width: 70%;
    font-family: Rubik;    
    font-size: 13pt;
    text-align: justify;
    padding-left: 25px;        
    color: black;
    top: 95px;
    left: 200px;    
}

.btGithub{
    position: absolute;
    background-color: tomato;
    text-align: center;
    width: 80px;
    padding: 12px;
    border-radius: 4px;
    top: 260px;
    right: 60px;    
    cursor: pointer;
}

.rowMainPgCursos{    
    background-image: url("../img/bkgs/bkg-2.jpg");        
    background-position: right top;
    background-repeat: no-repeat;    
    padding-top: 5px;
    height: 50vh;
}

.rowMainPgAfiliacao{    
    background-image: url("../img/bkgs/bkg-3.jpg");        
    background-position: right top;
    background-repeat: no-repeat;
    height: 55vh;
    padding-top: 70px;
}

main{    
    background-color: transparent;    
}


.nome-curso{            
    float: left;
    font-weight: bolder;
    font-size: 1em;    
    border-bottom: tomato 1px dotted;
    margin: 20px;        
}

.ctaCurso{        
    font-family: Rubik;    
    background-color: tomato;
    padding: 14px;
    border: none;
    border-radius: 4px;    
    font-size: 10pt;
    color: #f9f9f9;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin: auto;    
}

.rowVantagensAfiliacao{
    background-color: #e6e6e6;     
    text-align: center;
    padding-top: 40px;    
    height: 40vh;
}  

.fa_ico_vantagens{
    float: right;
    padding: 11px 35px 0px 5px;
    width: 10px;
}

.titBoxVantagem{
    font-family: Rubik;    
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14pt;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.txtVantagens{
    font-family: Rubik;    
    font-weight: lighter;
    font-size: 11pt;
    text-align: justify;
    padding-top: 10px;    
}

.boxAjuste{
    margin-top: -60px;    
}

.zebra1{
    background-color: #f9f9f9;
}

/* -------------- CAROUSEL -------------- */

.clear{
    clear: both;
}

.nomeProf{
    padding-left: 15px;    
    padding-bottom: 10px;
}

.carousel {    
    width: auto;
    margin: 20px auto;
    padding-top: 20px;    
    height: auto;
  }

.rowCarousel{
    background-color: #f9f9f9;
    padding: 60px 60px 40px 60px;
    height: auto;
    margin: auto;
}  

.rowCarousel_z1{
    background-color: #f9f9f9;
    padding: 60px 60px 40px 60px;
    border-bottom: gray dotted 1px;
    height: auto;
    margin: auto;
}  

.rowCarousel_z2{
    background-color: antiquewhite;
    padding: 60px 60px 40px 60px;
    border-bottom: gray dotted 1px;
    height: auto;
    margin: auto;
}  

.rowShowCategorias{
    background-image: url("../img/bkgs/bkg-4.jpg");    
    background-position: center;    
    padding: 60px 60px 40px 60px;
    border-bottom: gray dotted 1px;
    height: auto;
    margin: auto;
}

.rowShowVantagensAfiliacao{    
    border-bottom: gray dotted 1px;
    padding: 60px 60px 40px 60px;
    border-bottom: gray dotted 1px;
    height: auto;
    margin: auto;
}
          
.boxCurso{    
    border: 1px solid tomato;
    border-right: tomato 10px solid;
    background-color: #f9f9f9;
    border-radius: 20px 0px 0px 0px;
    margin: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
}

.margem{
    margin: 20px;
}

.imgcurso{
    background-color: tomato;        
    border-radius: 0px 10px 10px 0px;
}

.titcurso{
    font-size: 1.1em;
    font-weight: bolder;
    text-transform: uppercase;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.txtdecricao{
    text-align: justify;
}

.ctacurso{
    background-color: tomato;
    padding: 20px;
    border-radius: 4px;    
    text-align: center;
    color: #f9f9f9;
    text-transform: uppercase;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 40px;line-height: 1;
    opacity: 1;
    color: tomato;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
    left: -25px;
}
.slick-next {
    right: -8px;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 16px;
    padding-top: 18px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.titCarousel{
    font-family: Montserrat;
    font-weight: 800;
    font-size: 2em;        
    color: tomato;    
    text-transform: uppercase;    
    text-align: center;
}

.titCarouselpgCursos{
    font-family: Montserrat;
    font-weight: 800;
    font-size: 2em;        
    color: black;    
    text-transform: uppercase;    
    text-align: center;
}

.subTitCarousel{
    font-family: Rubik;    
    font-weight: lighter;
    font-size: 1em;        
    color: gray;
    text-align: center;
    padding-top: 10px;
}

.categCursos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    margin-top: 25px;
    margin-bottom: 20px;
    height: auto;
}
.boxCategs{
    border: 1px solid #464646;
    border-left: 10px solid #464646;
    border-radius: 0px 4px 4px 0px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: auto;
    cursor: pointer;
}

.vantAfiliacao{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 20px;
    height: auto;
}

.boxVantagens{
    background-image: url("../img/bkgs/bkg-4.jpg");
    background-position: left top;
    border: 1px solid tomato;
    border-bottom: 10px solid tomato;
    border-radius: 4px 4px 0px 0px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 500px;
    height: auto;
}

.icoFlag{    
    position: static;
    float: right;
    transform: rotate(45deg);
    color: tomato;
    margin: 15px;
    margin-top: -35px;    
}

.descrLeftVantagens{
    text-align: justify;
    padding-left: 15px;   
    margin-right: 30px; 
}

.box_carousel{    
    width: 250px;
    height: 380px;
    text-align: left;
    border: tomato 1px solid;         
    border-right: tomato 25px solid;    
    border-top: none;
    border-left: 1px dotted tomato;
}
.img-stars{                   
    float: right; 
    width: 5px;
    padding: 16px 120px 10px 10px;
}