nav{        
    font-family: Rubik;        
    text-transform: uppercase;            
    margin-top: 9px;
    margin-right: 20px;    
}

.navAtivo{    
    border-bottom: 2px solid tomato;    
    transition: 300ms all;    
}

nav ul li {
    display: inline-block;    
    margin-right: 15px;    
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    font-family: Rubik;
    font-size: 12px;    
    display: block;
    text-decoration: none;
    position: relative;
    color: #363636;
}

nav ul li a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 10;
    width: 0%;
    background-color: tomato;
    height: 2px;
    transition: 300ms all;    
}

nav ul li a:hover::after {
    width: 100%;
}